header {
  padding-top: 1rem;
  
  @media screen and (max-width: 991px) {
    position: fixed;
    top: 0;
    border-bottom: 1px solid black;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
  }

  @media screen and (min-width: 992px) {
    position: sticky;
    top: 0;

    .btn-collapse {
      display: none;
    }
  }

  .navbar-nav {
    font-size: 0.75rem;

    .nav-item {
      .nav-link {
        color: black;

        &.active {
          font-weight: bold;
        }
      }
    }
  }
}
